header{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('https://thumbs.dreamstime.com/z/html-code-8406037.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: absolute;
    height:80vh;
    width:100%;
    top:0;
    bottom:0;
    right:0;
    left:0;
}
li a:hover{
    background-color: yellowgreen;
    color:#fff
}
h1{
    color: white;
    top:40%;
    right: 2%;
    left: 40%;
    position: absolute;
    letter-spacing: 1.8px;
    font-family:Lucida Sans;
  

    
}
 ul{
     float: right;
     list-style: none;
     margin-top: 25px;
     display: flex;
 }
 ul li{
     display:inline block;
 }
 ul li a{
     text-decoration: none;
     color:white;
     padding:5px 20px;
     border:1px solid transparent;
     transition:0.7s ease;
 }
 nav #list{
     text-align: right;
     color: white;
     text-transform: uppercase;
     font-size: 25px;
    
 }
 #list>li a{
     color:white;
     text-decoration: none;
     margin:15px;
     padding:15px;
 }
 footer{
     background-color:rgb(65, 63, 63);
     height: 120px;
     text-align: center;
     font-size: 20px;
     color:white;
}
/*.center{
    display: block;
    width:20%;
    margin-left: auto;
   margin-right: auto;
}*/
#about img{
    float: right;
    width: 25%;
    height: 30%;
    border-radius: 50%;
}
#about,#h3 h3{
    text-align: center;
    text-decoration-line: initial
}
.list img{
   height: 30px;
   width: 20px; 
}
#projects img{
    height:200px;
    width:250px;
    box-shadow:5px 6px 6px gray;

    
}
/*#first,#second,#third{
    display:flex;
    flex-direction:column;

}*/
#projects > h2{
    text-align: center;
    /* ext-decoration: initial;t */
}
.table table{
    width:600px;
    height:280px;
    text-align: center;
    
}
.table table, td,th{
    padding:2px;
    border:2px solid black;
    border-collapse:collapse;
    background-origin: padding-box;
}

#about h3{
    text-align: center;
    text-decoration: initial;
}
#about ol,li{
    font-size: 20px;
    text-align: center;
    list-style-position: inside;
}
#about p{
    text-align: center;
    font-size: 20px;
}
#projects p{
    font-size: 20px;
}
.project{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 5%;
    margin-left: 5%;
}
.all h2{
    text-align: center;
    text-decoration: initial;
}
table{
    text-align: center;
}
.butto{
    position: absolute;
    top:90%;
    left:50%;
    transform:translate(-70%,-300%);
    text-decoration:none;
}
.cont{
    border:1px solid #fff;
    padding:10px 30px;
    font-size: 20px;
    color:#000;
    text-decoration: none;
    width:270px;
    border-radius:15px;
        
    
}
.cont:hover{
    background-color:palevioletred;
    color:#fff;
}
.cont a{
    text-decoration:none;
    color:#000;
}


    
