header{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://thumbs.dreamstime.com/z/html-code-8406037.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: absolute;
    height:90vh;
    width:100%;
    top:0;
    bottom:0;
    right:0;
    left:0;
}