header{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://thumbs.dreamstime.com/z/html-code-8406037.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: absolute;
    height:90vh;
    width:100%;
    top:0;
    bottom:0;
    right:0;
    left:0;
}
li a:hover{
    background-color: yellowgreen;
    color:#fff
}
h1{
    color: white;
    top:40%;
    right: 2%;
    left: 40%;
    position: absolute;
    letter-spacing: 1.8px;
    font-family:Lucida Sans;

    
}
 ul{
     float: right;
     list-style: none;
     margin-top: 25px;
     display: flex;
 }
 ul li{
     display:inline block;
 }
 ul li a{
     text-decoration: none;
     color:#fff;
     padding:5px 20px;
     border:1px solid transparent;
     transition:0.7s ease;
 }
 nav #list{
     text-align: right;
     color: #fff;
     text-transform: uppercase;
     font-size: 25px;
 }
 #list>li a{
     color: white;
     text-decoration: none;
     margin:15px;
     padding:15px;
 }